body {
  background-color: olivedrab;
}

h1 {
  color: white;
  text-align: center;
  font-family: Georgia, serif;
  font-size: 45px;
}

h2 {
	color: black;
	text-align: center;
	font-family: copperplate, papyrus, fantasy;
	font-size: 30px;
}

p {
  font-family: Copperplate, papyrus, fantasy;
  font-size: 20px;
}